div{
    height: 50px;
    width: 100px;
    background-color: pink;
    /* border-width: 2px;
    border-style: solid;
    border-color: red; */
    border: 2px solid brown;
    text-align: center;
    /* padding */
    /* padding: 10px 10px 10px 10px; */
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

h1{
    height: 50px;
    width: 300px;
    background-color: magenta;
    /* border-width: 3px;
    border-style: dashed;
    border-color: rgb(60, 48, 172); */
    border: 2px solid rgb(86, 211, 107);
    text-align: center;
    border-radius: 50px;
    /* padding */

}
* {
    background-color: black;
}

p{
    background-color: azure;
    text
}

button {
    background-color: red;
    height: 50px;
    width: 100px;
    border-radius: 10px
}

